@import 'partials/mixin';

#header {
    .container-header {
        @include display-flex;
        padding: 20px;

        .logo {
            width: 64px;
        }

        .nav-menu {
            display: flex;
            gap: 16px;

            li {
                list-style-type: none;
                font-size: 12px;

            }

            a {
                font-weight: 500;
            }
        }
    }
}